<% layout("layouts/boilerplate") %>
<body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="listing[title]" value="<%= listing.title %>" placeholder="Enter Title" type="text">
        <br><br>
        <textarea name="listing[description]"><%= listing.description %></textarea> 
        <br><br>
        <input name="listing[image]" value="<%= listing.image %>" placeholder="Enter Image URL/Link" type="text">
        <br><br>
        <input name="listing[price]" value="<%= listing.price %>" placeholder="Enter Price" type="number">
        <br><br>
        <input name="listing[country]" value="<%= listing.country %>" placeholder="Enter Country" type="text">
        <br><br>
        <input name="listing[location]" value="<%= listing.location %>" placeholder="Enter Location" type="text">
        <br><br>
        <button type="submit">Edit</button>
    </form>

</body>

